*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
   display: grid;
   grid-template-columns: 5% 85%;
    background-color: #333;
    height: 70vh;
    width: 30%;
    margin: auto;
    padding: 2rem;
    column-gap: 2rem;
}
h1{
    text-transform: capitalize;
    text-shadow: 1px 1px green;
    margin-bottom: 3rem;
    display: flow-root;
    
}
.password-strengther{
    height: 100%;
    background-color: white;
    width: 100%;
   margin-top: auto;
   margin-bottom: auto;
   overflow: auto;
   position: relative;
}
.password-strengther::after{
  /* --strength-amount: 10;  */
  content: " ";
  position: absolute;
  bottom: 0;
  background-color: #127681;
  width: 100%;
  height: calc(1% * var(--strength-amount, 0));
  transition: all 0.25s ease;
}
.password-check p{
    color: white;
    margin: 15px;
}
.input-field{
    
    width: 100%;
    color: green;
    width: 100%;
    height: 3rem;
    overflow: auto;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
